$bd_clr:#0F0F0F;
$white_clr:#ffffff;
$size_36:36px;
$line_h:54px;
$weight_700:700;
$style_normal:normal;
$gray_clr:#969696;
$size_64:64px;
$line_h_96:96px;
$px_320:320px;
$size_22:22px;
$line_h_28:28px;
$weight_400:400;
$size_16:16px;
$line_h_24:24px;
$line_h_42:42px;
$f1_clr:#1f1f1f;
$watch_color:#191B1C;
$size_18:18px;
$line_h_21:21px;
$ff_clr:#ff105e;