#rectangel{
    @extend %_ground;
    .txt{
        @include Text($colrs:$white_clr,$t_align:center);
        @include Flex($j_content:center,$a_items:center,$f_direction:column);
        .center{
            @include Img($wid:$px_320,$heit:$px_320);
            border: 4px solid $white_clr;
            @include Flex($j_content:center,$a_items:center,$f_direction:column);
            h2{
                @include Text($f_style:$style_normal,$f_weight:$weight_700,$f_size:$size_64,$l_heit:$line_h_96);
               border-bottom: 2px solid $white_clr;
            }
            p{ @include Text($f_style:$style_normal,$f_size:$size_22,$l_heit:$line_h_28,$t_transform:uppercase,$f_weight:$weight_400); }
        }
        .part{
            p{
                @include Text($f_style:$style_normal,$f_weight:$weight_400,$f_size:$size_16,$l_heit:$line_h_24,$t_transform:uppercase);
                width: 730px;
                @media (max-width:768px) { width: 340px; }
                padding: 50px 0px;
            }
        }
    }
}
#watch{
    padding: 50px 0px;
    .clock{
        @extend %_clock;
        margin: auto;
        &::before{
            content: '';
            @include Text($ground:black,$radius:100%);
            @include Img($wid:15px,$heit:15px,$pos:absolute,$z_index:111);
        }
        .hour{
            position: absolute;
            .hours{
                border-radius: 50%;
                @include Img($wid:160px,$heit:160px,$pos:relative);
                @include Flex($j_content:center);
                &::before{
                    content: '';
                    @include Img($pos:absolute,$wid:7px,$heit:80px,$z_index:10);
                    @include Text($ground:$ff_clr,$radius:6px 6px 0 0);
                }
            }
        }
        .minute{
            position: absolute;
            .minutes{
                border-radius: 50%;
                @include Img($wid:190px,$heit:190px,$pos:relative);
                @include Flex($j_content:center);
                &::before{
                  content: '';
                  @include Img($pos:absolute,$wid:4px,$heit:90px,$z_index:11);
                  @include Text($ground:black,$radius:6px 6px 0 0);
                }
            }
        }
        .second{
            position: absolute;
            .seconds{
                border-radius: 50%;
                @include Img($wid:230px,$heit:230px,$pos:relative);
                @include Flex($j_content:center);
                &::before{
                  content: '';
                  @include Img($pos:absolute,$wid:2px,$heit:150px,$z_index:12);
                  @include Text($ground:black,$radius:6px 6px 0 0);
                }
            }
        }
    }
    .txt{
        text-align: center;
        h2{
            @include Text($t_transform:uppercase,$f_size:$size_36,$l_heit:$line_h_42,);
            font-family: 'Playfair Display', serif;
        }
        p{
            @include Text($f_style:$style_normal,$f_weight:$weight_400,$f_size:14px,$l_heit:21px);
            padding: 50px 0px;
        }
        a{
            @include Text($t_decoration:none,$colrs:$white_clr,$f_size:$size_18,$f_weight:$weight_400,$l_heit:23px,$l_spacing:0.1em,$t_transform:uppercase,$border:2px solid);
            padding: 15px;
        }
    }
}
#cataloq{
    padding: 50px 0px;
    .container{
        max-width: 1500px;
        h2{
            font-family: 'Playfair Display', serif;
            @include Text($f_size:$size_36,$l_heit:$line_h_42,$t_align:center);
        }
        .img_cart{
            background: $watch_color;
            width: 100%;
            overflow: hidden;
            &:hover{
                img{ transform: scale(1.05); }
            }
            img{
                @include Img($wid:100%,$heit:100%, $o_fit:cover);
                transition: .6s ease-in-out;
                transform: scale(1);
            }
        }
        .txt{
            padding: 10px 0px;
            font-family: 'Playfair Display', serif;
            @include Text($f_size:$size_18,$l_heit:$line_h_21);
        }
        .img{
            width: 100%;
            img{ @include Img($wid:100%,$heit:100%,$o_fit:cover); }
        }
    }
}