#rectangel{
    @extend %_ground;
    .txt{
        @include Text($colrs:$white_clr,$t_align:center);
        @include Flex($j_content:center,$a_items:center,$f_direction:column);
        .center{
            @include Img($wid:$px_320,$heit:$px_320);
            border: 4px solid $white_clr;
            @include Flex($j_content:center,$a_items:center,$f_direction:column);
            h2{
                @include Text($f_style:$style_normal,$f_weight:$weight_700,$f_size:$size_64,$l_heit:$line_h_96);
               border-bottom: 2px solid $white_clr;
            }
            p{ @include Text($f_style:$style_normal,$f_size:$size_22,$l_heit:$line_h_28,$t_transform:uppercase,$f_weight:$weight_400); }
        }
        .part{
            p{
                @include Text($f_style:$style_normal,$f_weight:$weight_400,$f_size:$size_16,$l_heit:$line_h_24,$t_transform:uppercase);
                width: 730px;
                @media (max-width:768px) { width: 340px; }
                padding: 50px 0px;
            }
        }
    }
}
#cataloq{
    .container{
        max-width: 1500px;
        h2{
            font-family: 'Playfair Display', serif;
            @include Text($f_size:$size_36,$l_heit:$line_h_42,$t_align:center);
        }
        .img_cart{
            background: $watch_color;
            width: 100%;
            overflow: hidden;
            &:hover{
                img{ transform: scale(1.05); }
            }
            img{
                @include Img($wid:100%,$heit:100%, $o_fit:cover);
                transition: .6s ease-in-out;
                transform: scale(1);
            }
        }
        .txt{
            padding: 10px 0px;
            font-family: 'Playfair Display', serif;
            @include Text($f_size:$size_18,$l_heit:$line_h_21);
        }
        .img{
            width: 100%;
            img{ @include Img($wid:100%,$heit:100%,$o_fit:cover); }
        }
    }
}