#start {
    padding: 10px 0px;
    .container {
        max-width: 1140px;
        @include Flex($j_content: space-between, $a_items: center);
        .logo { @include Text($t_decoration: none, $colrs: $white_clr, $f_size: $size_36, $f_weight: $weight_700, $f_style: $style_normal, $l_heit: $line_h); }
        .menu{
            @media (max-width:768px) { display: none; }
            ul{
                @include Flex($a_items:center,$gap:20px);
                margin: 0;
                .fix{
                    @extend %_fix;
                    .fix{ @extend %_afix; }
                }
                li{
                    @include Img($wid:120px,$heit:40px);
                    background: none;
                    @include Flex($j_content:center,$a_items:center);
                    transition: .5s ease-in-out;
                    &:hover{
                        background: $f1_clr;
                        a{ color: $white_clr; }
                    }
                    a{
                        @extend %_afix;
                        color: $gray_clr;
                    }
                }
            }
        }
    }
}